<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.supermarketbackend.mapper.OutStorageMapper">
    <select id="queryOutStorageRecord" resultType="com.example.supermarketbackend.model.OutStorageRecord">
        select a.id,a.goods_id,a.user_id,a.create_time as createTime ,b.goods_name as goodsName,c.name as userName,a.number,a.remark
        from out_storage as a
        inner join goods as b on a.goods_id = b.id
        inner join user as c on a.user_id = c.id
        <where>
            <if test="inStorageRequest.userName!=null and inStorageRequest.userName!=''">
                and c.name like '%${inStorageRequest.userName}%'
            </if>
            <if test="inStorageRequest.goodsName!=null and inStorageRequest.goodsName!=''">
                and b.goods_name like '%${inStorageRequest.goodsName}%'
            </if>
        </where>
    </select>
    <select id="getOutStorageRecord" resultType="com.example.supermarketbackend.model.OutStorageRecord">
        select a.id,a.goods_id,a.user_id,a.create_time as createTime ,b.goods_name as goodsName,c.name as userName,a.number,a.remark
        from out_storage as a
                 inner join goods as b on a.goods_id = b.id
                 inner join user as c on a.user_id = c.id where a.id=#{id}
    </select>
</mapper>